<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>

        <div class="page-header">
            <%- include('../../partials/headers/page-header', 
                {
                    heading: release.name
                }
            )%>
            <div class="tool-bar">
                <%- include('../../partials/actions/edit-action', 
                    { 
                        action:`/games/releases/${release.id}/edit` 
                    }
                )%>
                <%- include('../../partials/actions/delete-action', 
                    { 
                        action:`/games/releases/${release.id}/delete`, 
                        label: "Delete" 
                    }
                )%>
                </div>
            </div>
            <main class="content split-content">
                <div class="image-container"><img class="cover-image" src="<%= release.coverImagePath %>" alt="<% release.name %> cover image"></div>
                <div class="split-item-left">

                    <div class="detail-group">
                        <%- include('../../partials/headers/list-header', 
                            {
                                heading: 'PRICE'
                            }
                        )%>
                        <%- include('../../partials/others/list', 
                            {
                                values: [`\$${release.price}`]
                            }
                        )%>
                    </div>
                    <div class="detail-group">
                        <%- include('../../partials/headers/list-header', 
                            {
                                heading: 'EDITION'
                            }
                        )%>
                        <%- include('../../partials/others/list', 
                            {
                                values: [release.edition]
                            }
                        )%>
                    </div>
                    <div class="detail-group">
                        <%- include('../../partials/headers/list-header', 
                            {
                                heading: 'PLATFORM'
                            }
                        )%>
                        <%- include('../../partials/others/list', 
                            {
                                values: [release.platform]
                            }
                        )%>
                    </div>
                    <div class="detail-group">
                        <%- include('../../partials/headers/list-header',
                            {
                                heading: 'GENRES'
                            }
                        )%>
                        <%- include('../../partials/others/list',
                            {
                                values: release.genres
                            }
                        )%>
                    </div>
                    <div class="detail-group">
                        <%- include('../../partials/headers/list-header',
                            {
                                heading: 'PUBLISHER'
                            }
                        )%>
                        <%- include('../../partials/others/list',
                            {
                                values: [release.publisher]
                            }
                        )%>
                    </div>
                    <div class="detail-group">
                        <%- include('../../partials/headers/list-header',
                            {
                                heading: 'DEVELOPERS'
                            }
                        )%>
                        <%- include('../../partials/others/list',
                            {
                                values: release.developers
                            }
                        )%>
                    </div>
                    <div class="detail-group">
                        <%- include('../../partials/headers/list-header',
                            {
                                heading: 'REGION'
                            }
                        )%>
                        <%- include('../../partials/others/list',
                            {
                                values: [release.region]
                            }
                        )%>
                    </div>
                    <div class="detail-group">
                        <%- include('../../partials/headers/list-header', 
                            {
                                heading: 'RELEASE DATE'
                            }
                        )%>
                        <%- include('../../partials/others/list', 
                            {
                                values: [release.releaseDate.toDateString()]
                            }
                        )%>
                    </div>
                </div>
                <div class="split-item-right">
                    <div class="detail-group">
                        <%- include('../../partials/headers/list-header', 
                            {
                                heading: 'OVERVIEW'
                            }
                        )%>
                        <p class="description"><%= release.description %></p>
                    </div>
                </div>
        </main>

        <%- include('../../partials/footer') %>
    </body>
</html>