<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>

        <div class="page-header">
            <%- include('../../partials/headers/page-header', {heading: 'Developers'}) %>
            <%- include('../../partials/actions/create-action', {action: '/developers/new', label: 'New'}) %>
        </div>
        <main class="content">
            <ul class="list-card-container">
                <% developers.forEach(developer => { %>
                    <li class="list-card">
                        <%- include('../../partials/headers/card-header', {heading: developer.name}) %>
            
                        <div class="tool-bar">
                            <%- include('../../partials/actions/edit-action', { action:`/developers/${developer.id}/edit` }) %>
                            <%- include('../../partials/actions/delete-action', { action:`/developers/${developer.id}/delete`, label: "Delete" }) %>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </main>

        <%- include('../../partials/footer') %>
    </body>
</html>