<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>
        <div class="page-header">
            <%- include('../../partials/headers/page-header', {heading: 'Update Developer'}) %>
        </div>
        <div class="content">
            <%- include('../../partials/errors') %>
            <form class="form" action="/developers/<%= developer.id %>/edit" method="POST">
                <%- include('../../partials/inputs/text-input', {name: 'name', label: 'Name:', value: developer.name, required: true}) %>
                <%- include('../../partials/buttons/submit-button', {label: 'Update Developer'}) %>
            </form>
        </div>

        <%- include('../../partials/footer') %>
    </body>
</html>