<div>
    <label for="<%= name %>"><%= label %></label>
    <select name="<%= name %>" id="<%= name %>">
        <% values.forEach(value => { %>
            <option value="<%= value.id %>" <%= value.id === locals?.selected ? 'selected' : '' %> ><%= value.name %></option>
        <% }) %>
    </select>
</div>