<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>
        <div class="page-header">
            <%- include('../../partials/headers/page-header', {heading: 'Update Edition'}) %>
        </div>
        <main class="content">
            <%- include('../../partials/errors') %>
            <form class="form" action="/editions/<%= edition.id %>/edit" method="POST">
                <%- include('../../partials/inputs/text-input', {name: 'name', label: 'Name:', value: edition.name, required: true}) %>
                <%- include('../../partials/buttons/submit-button', {label: 'Update Edition'}) %>
            </form>
        </main>

        <%- include('../../partials/footer') %>
    </body>
</html>