<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>
        <div class="page-header">
            <%- include('../../partials/headers/page-header', 
                {
                    heading: 'Editions'
                }
            )%>
            <%- include('../../partials/actions/create-action', 
                {
                    action: '/genres/new', 
                    label: 'New'
                }
            )%>
        </div>

        <main class="content">
            <ul class="list-card-container">
                <% genres.forEach(genre => { %>
                    <li class="list-card">
                        <%- include('../../partials/headers/card-header', 
                            {
                                heading: genre.name
                            }
                        )%>
                        
                        <div class="tool-bar">
                            <%- include('../../partials/actions/edit-action', 
                                { 
                                    action:`/genres/${genre.id}/edit` 
                                }
                            )%>
                            <%- include('../../partials/actions/delete-action', 
                                { 
                                    action:`/genres/${genre.id}/delete`, 
                                    label: "Delete" 
                                }
                            )%>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </main>

        <%- include('../../partials/footer') %>
    </body>
</html>