<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>
        <div class="page-header">
            <%- include('../../partials/headers/page-header', 
                {
                    heading: 'Update Edition'
                }
            )%>
        </div>

        <main class="content">
            <%- include('../../partials/errors') %>
            <form class="form" action="/genres/<%= genre.id %>/edit" method="POST">
                <%- include('../../partials/inputs/text-input', 
                    {
                        name: 'name', 
                        label: 'Name:', 
                        value: genre.name, 
                        required: true
                    }
                )%>
                <%- include('../../partials/buttons/submit-button', 
                    {
                        label: 'Update Genre'
                    }
                )%>
            </form>
        </main>

        <%- include('../../partials/footer') %>
    </body>
</html>