<div class="input-row checkbox">
    <input type="checkbox" id=<%= id %> name=<%= name %> value=<%= locals.value %> <%= locals.required ? 'required' : '' %>>
    <label for=<%= id %>><%= label %></label>
</div>