<div class="input-row">
    <label for=<%= name %>><%= label %></label>
    <input type="number" step="<%= step %>" id=<%= name %> name=<%= name %> value="<%= locals.value %>" <%= locals.required ? 'required' : '' %>>
</div>