<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>

        <%- include('../../partials/headers/page-header', {heading: 'Regions'}) %>
        <%- include('../../partials/actions/create-action', {action: '/regions/new', label: 'Add New Region'}) %>

        <ul>
            <% regions.forEach(region => { %>
                <li>
                    <%- include('../../partials/headers/card-header', { heading: region.name }) %>
                    <%- include('../../partials/actions/edit-action', {action: `/regions/${region.id}/edit`}) %>
                    <%- include('../../partials/actions/delete-action', {action: `/regions/${region.id}/delete`}) %>
                </li>
            <% }) %>
        </ul>

        <%- include('../../partials/footer') %>
    </body>
</html>