<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>

        <div class="page-header">
            <%- include('../../partials/headers/page-header', 
                {
                    heading: 'Publisher'
                }
            )%>
            <%- include('../../partials/actions/create-action', 
                {
                    action: '/publishers/new', 
                    label: 'New'
                }
            )%>
        </div>

        <main class="content">
            <ul class="list-card-container">
                <% publishers.forEach(publisher => { %>
                    <li class="list-card">
                        <%- include('../../partials/headers/card-header', 
                            {
                                heading: publisher.name
                            }
                        )%>

                        <div class="tool-bar">
                            <%- include('../../partials/actions/edit-action', 
                                { 
                                    action:`/publishers/${publisher.id}/edit` 
                                }
                            )%>
                            <%- include('../../partials/actions/delete-action', 
                                { 
                                    action:`/publishers/${publisher.id}/delete`, 
                                    label: "Delete" 
                                }
                            )%>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </main>

        <%- include('../../partials/footer') %>
    </body>
</html>