<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>

        <h2>Publishers</h2>
        <a href="/publishers/new">Add New Publisher</a>
        <ul>
            <% publishers.forEach(publisher => { %>
                <li>
                    <span><%= publisher.name %></span>
                    <a href="/publishers/<%= publisher.id %>/edit">Edit</a>
                    <form action="/publishers/<%= publisher.id %>/delete" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>

        <%- include('../../partials/footer') %>
    </body>
</html>