<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>
        <div class="page-header">
            <%- include('../../partials/headers/page-header', {heading: 'Create Game'}) %>
        </div>
        <main class="content">
            <%- include('../../partials/errors') %>
            <form class="form" action="/games/new" method="POST">
                <%- include('../../partials/inputs/text-input', {name: 'name', label: 'Name:', required: true}) %>
                <%- include('../../partials/inputs/textarea-input', {name: 'description', label: 'Description:', required: true}) %>
                <%- include('../../partials/inputs/checkbox-group-input', {legend: 'Genres:', name: 'genres', values: genres, required: true}) %>
                <%- include('../../partials/inputs/checkbox-group-input', {legend: 'Developers:', name: 'developers', values: developers, required: true}) %>
                <%- include('../../partials/buttons/submit-button', {label: 'Create Game'}) %>            
            </form>
        </main>

        <%- include('../../partials/footer') %>
    </body>
</html>