<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>
        <%- include('../../partials/errors') %>
        <h2>Create Game</h2>
        <form action="/games/new" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required>
            <div>
                <h3>Genres</h3>
                <% genres.forEach(genre => { %>
                    <label>
                        <input type="checkbox" name="genres" value="<%= genre.id %>">
                        <%= genre.name %>
                    </label>
                <% }) %>
            </div>
            <div>
                <h3>Developers</h3>
                <% developers.forEach(developer => { %>
                    <label>
                        <input type="checkbox" name="developers" value="<%= developer.id %>">
                        <%= developer.name %>
                    </label>
                <% }) %>
            </div>
            <button type="submit">Create Game</button>
        </form>

        <%- include('../../partials/footer') %>
    </body>
</html>