<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>

        <div class="page-header">
            <%- include('../../partials/headers/page-header', {heading: game.name}) %>
            <div class="tool-bar">
                <%- include('../../partials/actions/edit-action', { action:`/games/${game.id}/edit` }) %>
                <%- include('../../partials/actions/delete-action', { action:`/games/${game.id}/delete`, label: "Delete" }) %>
            </div>
        </div>
        <main class="content">
            <div class="detail-group">
                <%- include('../../partials/headers/section-header', {heading: 'Overview'}) %>
                <p class="description"><%= game.description %></p>
            </div>
            <div class="detail-group">
                <%- include('../../partials/headers/section-header', {heading: 'Genres'}) %>
                <%- include('../../partials/others/chip-list', {values: game.genres}) %>
            </div>
            <div class="detail-group">
                <%- include('../../partials/headers/section-header', {heading: 'Developers'}) %>
                <%- include('../../partials/others/chip-list', {values: game.developers}) %>
            </div>
            <div class="detail-group">
                <%- include('../../partials/headers/section-header', {heading: 'Available Releases'}) %>
                <%- include('./release-card', {releases}) %>
            </div>
        </main>

        <%- include('../../partials/footer') %>
    </body>
</html>