<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>

        <div class="page-header">
            <%- include('../../partials/headers/page-header', {heading: game.name}) %>
            <div class="tool-bar">
                <%- include('../../partials/actions/edit-action', { action:`/games/${game.id}/edit` }) %>
                <%- include('../../partials/actions/delete-action', { action:`/games/${game.id}/delete`, label: "Delete" }) %>
            </div>
        </div>
        <main class="content">
            <div class="detail-group">
                <%- include('../../partials/headers/list-header', {heading: 'OVERVIEW'}) %>
                <p class="description"><%= game.description %></p>
            </div>
            <div class="detail-group">
                <%- include('../../partials/headers/list-header', {heading: 'GENRES'}) %>
                <%- include('../../partials/others/list', {values: game.genres}) %>
            </div>
            <div class="detail-group">
                <%- include('../../partials/headers/list-header', {heading: 'DEVELOPERS'}) %>
                <%- include('../../partials/others/list', {values: game.developers}) %>
            </div>
            <div class="detail-group">
                <div class="page-header">
                    <%- include('../../partials/headers/list-header', {heading: 'AVAILABLE RELEASES'}) %>
                    <%- include('../../partials/actions/create-action',
                        {
                            action: '/games/releases/new',
                            label: 'New'
                        }
                    )%>
                </div>
                <%- include('./release-card', {releases}) %>
            </div>
        </main>

        <%- include('../../partials/footer') %>
    </body>
</html>