<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>

        <h2><%= game.name %></h2>
        <p><%= game.description %></p>
        <div>
            <h3>Genres</h3>
            <ul>
                <% game.genres.forEach(genre => { %>
                    <li><%= genre.name %></li>
                <% }) %>
            </ul>
        </div>
        <div>
            <h3>Developers</h3>
            <ul>
                <% game.developers.forEach(developer => { %>
                    <li><%= developer.name %></li>
                <% }) %>
            </ul>
        </div>

        <div>
            <h3>Releases</h3>
            <ul>
                <% releases?.forEach(release => {%>
                    <li>
                        <img src="<%= release.coverImagePath %>" alt="<% release.name %> cover image">
                        <p><%= release.platform %></p>
                        <p><%= release.edition %></p>
                        <p><%= release.region %></p>
                        <a href="/games/releases/<%= release.id %>/details">View</a>
                    </li>
                <%})%>
            </ul>
        </div>
        <a href="/games/<%= game.id %>/edit">Edit</a>
        <form action="/games/<%= game.id %>/delete" method="POST">
            <button type="submit">Delete</button>
        </form>

        <%- include('../../partials/footer') %>
    </body>
</html>