<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>
        <div class="page-header">
            <%- include('../../partials/headers/page-header', {heading: 'Update Game'}) %>
        </div>
        <main class="content">
            <%- include('../../partials/errors') %>
            <form class="form" action="/games/<%= game.id %>/edit" method="POST">
                <%- include('../../partials/inputs/text-input',
                    {
                        name: 'name',
                        label: 'Name:',
                        value: game.name,
                        required: true
                    })
                %>
                <%- include('../../partials/inputs/textarea-input',
                    {
                        name: 'description',
                        label: 'Description:',
                        value: game.description,
                        required: true
                    })
                %>
                <%- include('../../partials/inputs/checkbox-group-input',
                    {
                        legend: 'Genres:',
                        name: 'genres',
                        values: genres,
                        checkedItems: game.genres
                    })
                %>
                <%- include('../../partials/inputs/checkbox-group-input',
                    {
                        legend: 'Developers:',
                        name: 'developers',
                        values: developers,
                        required: true,
                        checkedItems: game.developers
                    })
                %>
                <%- include('../../partials/buttons/submit-button',
                    {
                        label: 'Update Game'
                    })
                %>
            </form>
        </main>

        <%- include('../../partials/footer') %>
    </body>
</html>