<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>
        <%- include('../../partials/nav') %>

        <h2>Platforms</h2>
        <a href="/platforms/new">Add New Platform</a>
        <ul>
            <% platforms.forEach(platform => { %>
                <li>
                    <span><%= platform.name %></span>
                    <a href="/platforms/<%= platform.id %>/edit">Edit</a>
                    <form action="/platforms/<%= platform.id %>/delete" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>

        <%- include('../../partials/footer') %>
    </body>
</html>