<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
    <body>
        <%- include('../../partials/header') %>
        
        <div class="page-header">
            <%- include('../../partials/headers/page-header', 
                {
                    heading: 'Update Platform'
                }
            )%>
        </div>
        
        <main class="content">
            <%- include('../../partials/errors') %>
            <form class="form" action="/platforms/<%= platform.id %>/edit" method="POST">
                <%- include('../../partials/inputs/text-input', 
                    {
                        name: 'name', 
                        label: 'Name:', 
                        value: platform.name, 
                        required: true
                    }
                )%>
                <%- include('../../partials/buttons/submit-button', 
                    {
                        label: 'Update Platform'
                    }
                )%>
            </form>
        </main>

        <%- include('../../partials/footer') %>
    </body>
</html>